---
import { Button } from '@/components/ui/button';
import AboutImg from '@/assets/about.png';
import { Image } from 'astro:assets';
---

<section id="about" class="py-20">
  <div class="container">
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <!-- Image -->

      <div class="relative">
        <div
          class="bg-gradient-to-br
          from-primary/20 to-slate rounded-2xl"
        >
          <Image
            class="w-full rounded-2xl aspect-square object-cover"
            src={AboutImg}
            alt="Hero Image"
          />
        </div>
      </div>

      <!-- Content -->
      <div class="space-y-6">
        <div class="max-w-[800px] mx-auto mb-12">
          <h2 class="text-4xl leading-[1.3] font-bold mb-2">
            Your Favorite Certified Personal Trainer
          </h2>
          <p class="text-lg text-muted-foreground mb-12">About Me</p>
        </div>

        <p class="text-lg text-muted-foreground">
          I'm Ryan Chase, a certified personal trainer with over 15 years of
          experience transforming lives in the fitness industry.
        </p>

        <p class="text-muted-foreground">
          My approach focuses on sustainable habits and real-world fitness. I
          believe everyone has the potential to achieve their goals — they just
          need the right guidance and accountability.
        </p>

        <div
          class="bg-primary/10 border-l-4 border-primary
          pl-6 py-4 italic text-muted-foreground"
        >
          "The distance between your dreams and reality is called action."
        </div>

        <Button size="lg">
          <a href="#contact">Start Your Journey</a>
        </Button>
      </div>
    </div>
  </div>
</section>
